body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(6, 9, 29);
}
/* <======================NAVBAR STYLE============================> */

#navbar{
background-color: rgb(6, 9, 29);
color:white;
padding:30px;
display: flex;
justify-content: space-between;
align-items: center;
height: 30px;
border-bottom: 1px solid white;
}
.navbar_list{
display: flex;
}
.navbar_list li{
list-style: none;
margin: 10px;
}

#logo{
height: 28px;
margin-top: 2px;
}
a{
text-decoration: none;
color: white;
}
h3,p{
text-align: center;
}
/* <================================NAVBAR STYLE END ==========================> */

/* <=====================================SIGNUP STYLE=============================> */

h1{
    text-align: center;
}
#signup-form-div
{
   margin-top: 50px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   background-color: white;
}
#input_field
{
    position: relative;
    margin: 30px 0;
}
#user_data
{
  box-sizing: border-box;
  padding: 0 40px;

}
#input_field input{
    
    width: 70%;
    padding: 0 16px;
    height: 40px;
    font-size: 16px;
    margin-left: 27px;
    border-radius: 5px;
    border: 1px solid gray;
}
#submit_button
{
    border: 1px solid orange;
    width: 40%;
    height: 30px;
    border-radius: 5px;
    background-color: #008080;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%,-50%);

}

